body{
    text-align: center!important;
    background-color: black!important;
    color: cornsilk!important;
}
.form-control{
    
    margin-bottom: 10px;
   
}
.kk{
    margin-top: 10px;
}
.oo{
    text-align: center!important;
    font-style: italic;
}
